#root {
  margin: auto;
  font-family: sans-serif;
  line-height: 1.5;
  flex-direction: row;
}

.App-header {
  width: 100%;
  flex-direction: row;
  position: relative;
  display: flex;
}

.flex-grid {
  color: black;
  margin: auto -1rem 1rem;
}

.col {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

.sidebar {
  width: 20%;
  background-color: white;
}

.main {
  width: 80%;
  background-color: white;
  flex: 1;
}

